/*Estilos básicos*/
body{
    font-family: 'Alte Haas Grotesk', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}

header h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}



.btn-primary{
    background-color: #4b79a1;
    border: none;
    transition: background-color 0.4s ease;
    border-radius: 25px;
    width: 100%;
}

.btn-primary:hover {
    
    background-color: #050338;
   
    color: white;
}

.btn-warning{
    border: none;
    transition: background-color 0.4s ease;
    border-radius: 25px;
    margin-top: auto;/*Asegura que se vaya al fondo */
    width: 100%;
}

.btn-warning:hover{
    background-color: #050338;
    color: white;
}

.card {
    border-radius: 10px;
    
}

.card-body{
    padding: 2rem;
}

.card-principal {
    height: auto;
    background-color: #5961ED;
    color: white;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    aspect-ratio: 1 / 1;
    
}

.card-secundaria {
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.cuadrada{
    aspect-ratio: 1 / 1;
    max-width: 300px;
}

.card-body {
    padding:2rem; /* Ajustar padding interno */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para alinear el contenido */
    height: 100%;
}

.card-title  {
    font-size: 3.5rem; /* Tamaño grande del texto "1 GIGA" */
    font-weight: bold;
     text-align: center;
}

.card .card-header {
    border-bottom: none; /* Evita la aparición de un borde inferior en el card header */
}

.custom-header {
    position: relative;
    text-align: center;
    background-color: white; /* Fondo blanco del texto */
    padding: 0 15px; /* Espacio alrededor del texto */
    font-size: 18px; 
    font-weight: bold;
    color: #5961ED; /* Color del texto */
    
}

.custom-header::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0; /* para cuadrar la línea */
    width: 100%;
    border-top: 2px solid #5961ED; /* Color de la línea */
    z-index: 0; /* Coloca la línea detrás del texto */
    transform: translateY(-50%); /* Asegura que la línea esté centrada verticalmente */
}

.custom-header span {
    background-color: white; /* Fondo blanco detrás del texto */
    padding: 0 10px;
    position: relative;
    z-index: 1; /* Coloca el texto por encima de la línea */
}

.fila2{
    padding-left: 2rem; /* Ajusta el valor para reducir el espacio entre columnas */
    padding-right: 2rem; /* Ajusta el valor para reducir el espacio entre columnas */
}

.zapi{
    font-size: 2.8rem;
    text-align: center;
}

.card-text {
    margin-bottom: 0;
}


.sabermas{
    background-color: white; /* Fondo blanco para los botones */
    color: #4e5bb5; /* Texto del color principal */
    font-weight: bold;
    border: none;
    width: 80%;
    padding: 0.5rem;
}
.loquiero{
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 0.5rem;
}


.discontinua{
    border: none; 
    border-top: 3px dashed #000; /*Grosor de la línea */
    margin-left: 5%; 
    margin-right: 5%;
}



@media (min-width: 768px) and (max-width: 992px) {
    .card-principal {
        aspect-ratio: auto; /* Mantiene la proporción cuadrada */
        width: 90%; /* Ajusta el ancho para que quepa más contenido */
        max-width: 300px; /* Limitar el ancho máximo para no estirarse demasiado */
        height: auto; /* Mantiene la altura automática */
    }

    /* Reducir el tamaño del texto específico de los títulos de las tarjetas */
    .card-principal .card-text.fw-bold.fs-5 {
        font-size: 0.6rem; 
    }

  .card-principal p[style*="color: black"] {
        font-size: 0.6rem; /* Tamaño reducido para estos párrafos */
    }

    /* Ajuste del padding y contenido interno */
    .card-body {
        padding: 0.8rem; /* Reduce más el padding interno */
    }

    .card-title {
        font-size: 1.1rem; /* Reduce el tamaño del título general */
    }

    .zapi {
        font-size: 1.3rem; /* Ajusta aún más el tamaño del texto de "zapi" */
    }

    .card-text {
        font-size: 0.8rem; /* Reduce el tamaño de los textos secundarios */
    }

    .sabermas {
        font-size: 0.7rem; /* Reduce más el tamaño del botón */
        padding: 0.3rem;   /* Reduce el padding del botón */
        width: 85%;        /* Reduce un poco el ancho del botón */
    }
}
@media (min-width: 768px){
    .card-principal {
        max-width: 300px; /* Tamaño de las tarjetas (evita que se vean demasiado grandes) */
       
    }
}


@media (max-width: 768px) {
    /*Equivalente a la pantalla de un móvil girada */
    header {
        padding: 2rem 0; /* Reducir padding en pantallas pequeñas */
        height: 50vh; /* Ajustar altura para eliminar espacios en blanco */
        width: auto;
      }
    .offcanvas-body .nav-item {
        border-bottom: 1px solid #ddd; /* Línea separadora para el offcanvas */
      }
      .header-background {
        height: auto; /* Ajusta la altura automáticamente para pantallas móviles */
        
      }

      .card-principal {
        aspect-ratio: auto; /* Elimina la proporción cuando las tarjetas están en una sola columna */
        height: auto; /* Deja que el contenido controle la altura */
    }
      .card-title {
        font-size: 2rem; /* Disminuir el tamaño del título en pantallas pequeñas */
    }

    .zapi {
        font-size: 1.8rem;
    }
    .sabermas {
        width: 100%; /* Asegura que el botón ocupe todo el ancho en pantallas pequeñas */
    }
    
          
}
@media (max-width: 576px) {
    /*Equivalente a la pantalla de un móvil girada */
    header {
        
        height: 30vh; /* Ajustar altura para eliminar espacios en blanco */
      }
           
}

