/*Estilos básicos*/
body{
    font-family: 'Alte Haas Grotesk', sans-serif;
    color: #333;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative; 
    z-index: -1;
}

header h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}



.btn-primary{
    background-color: #4b79a1;
    border: none;
    transition: background-color 0.4s ease;
    border-radius: 25px;
    width: 100%;
}

.btn-primary:hover {
    
    background-color:orange;
   
    color: #0d0f3b;
}

.btn-warning{
    border: none;
    transition: background-color 0.4s ease;
    border-radius: 25px;
    margin-top: auto;/*Asegura que se vaya al fondo */
    width: 100%;
    background-color: #0d0f3b;
    color: white;
}

.btn-warning:hover{
    background-color: orange;
    color: #0d0f3b;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 10px;
    
}

.card-body{
    padding: 2rem;
}

.card-principal {
    height: auto;
    background-color: #0d0f3b;
    color: white;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    aspect-ratio: 1 / 1;
    
}

.card-secundaria {
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    
}
.cuadrada{
    aspect-ratio: 1 / 1;
    max-width: 300px;
}

.card-body {
    padding:2rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para alinear el contenido */
    height: 100%;
    
}

.card-title  {
    font-size: 3.5rem; /* Tamaño grande del texto "1 GIGA" */
    font-weight: bold;
     text-align: center;
}

.card .card-header {
    border-bottom: none; /*Evita la aparición de un borde inferior en el card header */
}



/*header con línea */

.custom-header {
    position: relative;
    text-align: center;
    background-color: white; 
    padding: 0 15px; /* Espacio alrededor del texto */
    font-size: 18px; 
    font-weight: bold;
    color: orange; 
    
}

.custom-header::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0; /* para cuadrar la línea */
    width: 100%;
    border-top: 2px solid orange; /* Color de la línea */
    z-index: 0; /* Coloca la línea detrás del texto */
    transform: translateY(-50%); /* Asegura que la línea esté centrada verticalmente */
}

.custom-header span {
    background-color: white; /* Fondo blanco detrás del texto */
    padding: 0 10px;
    position: relative;
    z-index: 1; /* Coloca el texto por encima de la línea */
}

/*header sin línea */
.sinlinea {
    position: relative;
    text-align: center;
    background-color: white; /* Fondo blanco del texto */
    padding: 0 15px; /* Espacio alrededor del texto */
    font-size: 18px; 
    font-weight: bold;
    color: #4b79a1; /* Color del texto */
    
}


.fila2{
    max-width: 350px;
    padding-left: 2rem; 
    padding-right: 2rem; 
}

.zapi{
    font-size: 2.8rem;
    text-align: center;
}

.card-text {
    margin-bottom: 0;
}

.img-tarjeta{
    height: 300px;
    aspect-ratio: 1/1;
}

/*botón tarjetas card-principal */
.sabermas{
    background-color: white; /* Fondo blanco para los botones */
    color: #4e5bb5; /* Texto del color principal */
    font-weight: bold;
    border: none;
    width: 80%;
    padding: 0.5rem;
}
/*botón tarjetas card-secundaria */
.loquiero{
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 0.5rem;
}

.logo {
    max-width: 34px; 
    max-height: 34px; 
    width: auto; 
    height: auto; 
}

/*Línea discontinua que separa las tarjetas */
.discontinua{
    border: none; 
    border-top: 3px dashed #000; /*Grosor de la línea */
    margin-left: 5%; 
    margin-right: 5%;
}

/*Estilos del pie*/

a.enlace-pie{
    text-decoration: none;
    color: white;
}
a.enlace-pie:hover{
    color: #ffc107;
}


.small-text-footer {
    font-size: 0.65rem; /* Ajusta el tamaño a tu gusto */
}

.fondo-black{
    background-color: #000;
}

.row-footer{
    justify-content: space-between;
}







@media (min-width: 992px) {
 
      .cuartafila {
        min-width: 250px; /* Ajusta este valor según lo necesites */
        max-width: 300px; /* Limitar un tamaño máximo */
        width: 100%; /* Hace que ambas tarjetas tengan el mismo ancho */
    }
  }
  
  
  @media (max-width: 991px) {

        footer {
            margin-bottom: 0; /* Asegúrate de que no haya márgenes adicionales */
            padding-bottom: 0; /* Evita un relleno extra al final */
        }
    
        body {
            min-height: 100vh; /* Para asegurarse de que la página ocupe todo el viewport */
        }

  }

@media (min-width: 768px) and (max-width: 992px) {
    .card-principal {
        aspect-ratio: auto; 
        width: 90%; 
        max-width: 300px; 
        height: auto; 
    }

    /*Reducir el tamaño del texto  del título de las tarjetas */
    .card-principal .card-text.fw-bold.fs-5 {
        font-size: 0.6rem; 
    }

  .card-principal p[style*="color: black"] {
        font-size: 0.6rem; /*Párrafos más pequeños */
    }

    
    .card-body {
        padding: 0.8rem; 
    }

    .card-title {
        font-size: 1.1rem; 
    }

    .zapi {
        font-size: 1.3rem; 
    }

    .card-text {
        font-size: 0.8rem; 
    }

    .sabermas {
        font-size: 0.7rem; 
        padding: 0.3rem;   
        width: 85%;        
    }

    .cuartafila {
        min-width: 216px; /* Ajusta este valor según lo necesites */
        
        width: 100%; /* Hace que ambas tarjetas tengan el mismo ancho */
    }

    

}
@media (min-width: 769px){
    .card-principal {
        max-width: 300px; /* Limite de anchura de mágenes para que no se vean demasiado grandes */
       
    }
    #tarjetas{
        margin-top: -80px;
    }

}


@media (max-width: 768px) {
    header {
        padding: 2rem 0; 
        height: 50vh; /* Ajustar altura de la imagen para eliminar espacios en blanco */
        width: auto;
      }
    
      .header-background {
        height: auto; /* Ajusta la altura automáticamente para pantallas móviles */
        
      }

      .card-principal {
        aspect-ratio: auto; /* Elimina la proporción cuando las tarjetas están en una sola columna */
        height: auto; 
    }
      .card-title {
        font-size: 2rem; /* Disminuir el tamaño del título en pantallas pequeñas */
    }

    .zapi {
        font-size: 1.8rem;
    }

    footer {
        padding: 2rem 1rem;
    }

    .row-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .row-footer .col-md-3 {
        width: 100%; /* Asegura que las columnas ocupen todo el ancho */
        margin-bottom: 1.5rem; /* Añade espaciado entre las columnas */
    }

    /* Eliminar líneas verticales en móvil */
    .row-footer .border-start,
    .row-footer .border-end {
        border: none;
    }

   

 
          
}
@media (max-width: 524px) {
   
    header {
        
        height: 30vh; /* Ajustar altura de la imagen para eliminar espacios en blanco */
      }

  
           
}

